<%- include("header") %>
<body>
    <nav>
        <div class="logo-container"><img class="logo-icon" src="images/truck_logo.ico" alt=""></div>
        <div class="menu-container">
            <ul>
                <li>Pick movie</li>
                <li>Your account</li>
                <li>Logout</li>
            </ul>
        </div>
    </nav>

    <div class="block"></div>



</body>
</html>